<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container justify-content-between">
        <button class="btn navbar-brand desktop" routerLink="">
            <img class='logo' src="../../assets/images/codegame.png" alt="" width="100px">
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>

    <div class="collapse navbar-collapse left" id="main-nav">
        <div class="navbar-nav w-100">

            <div class="nav-item ">
                <button class="nav-link btn mx-auto" routerLink="educadores">Profesores</button>
            </div>

            <div class="nav-item left">
                <button class="nav-link btn mx-auto" routerLink="padres">Padres</button>
            </div>

            <div class="nav-item mr-5">
                <button class="nav-link btn mx-auto button-color" routerLink="/empezar">Empezar </button>
            </div>



        </div>
    </div>

</nav>