<div class="container-fluid pt-5 pb-5 mt-5">

    <div class="container">

        <div class="row">
            <div class="col-5">

                <div class="row">



                    <div class="col-4">
                        <img src="../../assets/images/codegame.png" alt="" width="150px">
                    </div>

                    <div class="col-6 mt-4">

                        <h6>Code es una plataforma de aprendizaje de lenguajes de programación
                            para niños y niñas a través del juego, creatividad y lógica.
                        </h6>

                    </div>
                </div>







            </div>

            <div class="col-7">

                <div class="row">
                    <div class="col-3">
                        <h4>Profesores</h4>
                        <p>Aprender</p>
                        <p>Enseñar</p>
                        <p>Planes</p>
                    </div>

                    <div class="col-3">
                        <h4>Padres</h4>
                        <p>Planes</p>
                        <p>Aprendizaje</p>
                        <p>Proyectos</p>
                    </div>

                    <div class="col-3">
                        <h4>Contacto</h4>
                        <p>Nosotros</p>

                    </div>

                    <div class="col-3">
                        <h4>Redes sociales</h4>


                    </div>
                </div>





            </div>
        </div>

        <div class="row">
            <div class="col-12 pt-5">
                <h5 class=""> &copy; Code 2021 </h5>

            </div>
        </div>

    </div>


</div>