.container-fluid {
    background-color: #dee7f8;
}

h4 {
    color: #0e49b5;
}

h4,
p {
    cursor: pointer;
}

p:hover {
    color: #0e49b5;
}

p {
    margin-left: 10px;
}

h5 {
    color: #ff0501;
}
