<!-- PRIMERA VISTA -->

<!-- <div class="container-fluid pb-5">

    <div class="container">
        <div class="col-12 text-center">
            <img src="../../assets/images/codegame.png" alt="" width="200px" class="text-center">
            <h4 class="mt-3">Empieza la diversión </h4>
        </div>

        <div class="row pt-5 justify-content-md-center">
            <div class="col-3">
                <div class="card text-center pt-5" style="width: 17rem; height: 17rem;">
                    <div class="card-body">
                        <img src="../../assets/images/codegame.png" alt="" width="100px">
                        <h5 class="card-title mt-3">Estudiantes</h5>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-center pt-5" style="width: 17rem; height: 17rem;">
                    <div class="card-body">
                        <img src="../../assets/images/codegame.png" alt="" width="100px">
                        <h5 class="card-title mt-3">Profesor</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- VISTA ALUMNO -->
<div class="container-fluid pt-5 pb-5">

    <div class="container">

        <div class="row">
            <div class="col-3 text-center">
                <img src="../../assets/images/egg.png" alt="" width="90%">
            </div>

            <div class="col-7 text-center mt-5">
                <h2>Bienvenido </h2>
                <h3>a la aventura de la programación </h3>
                <h4 class="mt-5"> ANTONIO VALLEJO</h4>
            </div>

            <div class="col-2">
                <button class="btn btn-danger" routerLink="/home">Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h4>Nivel 1 </h4>

    <div class="row">

        <div class="card m-3 ml-5 text-center" style="width: 18rem;">
            <img src="../../assets/images/scratch.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Scratch</h3>
                <p>Tiempo 1hora y 30 minutos</p>
            </div>
        </div>

        <div class="card m-3 text-center" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-text">Tynker</h3>
                <p>Tiempo 1hora y 30 minutos</p>

            </div>
        </div>

        <div class="card m-3 text-center" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-text">Tynker</h3>
                <p>Tiempo 1hora y 30 minutos</p>

            </div>
        </div>

        <div class="card m-3 text-center" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-text">Tynker</h3>
                <p>Tiempo 1hora y 30 minutos</p>

            </div>
        </div>

    </div>


</div>