<!-- VISTA ALUMNO -->
<div class="container-fluid pt-5 pb-5">

    <div class="container">

        <div class="row">
            <div class="col-3 text-center">
                <img src="../../assets/images/egg.png" alt="" width="90%">
            </div>

            <div class="col-7 text-center mt-5">
                <h2>Bienvenido </h2>
                <h3>a la aventura de la programación </h3>
                <h4 class="mt-5"> ANTONIO VALLEJO</h4>
            </div>

            <div class="col-2">
                <button class="btn btn-danger" routerLink="/home">Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h4>Nivel 1 </h4>

    <div class="row">

        <div class="card m-3 ml-4 text-center" style="width: 18rem;">
            <img src="../../assets/images/scratch.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Scratch</h3>
                <p>Tiempo 1hora y 30 minutos</p>
            </div>
        </div>

        <div class="card m-3 ml-4 text-center" style="width: 18rem;">
            <img src="../../assets/images/code.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Code.org</h3>
                <p>Tiempo 1hora y 30 minutos</p>
            </div>
        </div>

        <div class="card m-3 ml-4 text-center" style="width: 18rem;">
            <img src="../../assets/images/cospace.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>CoSpace</h3>
                <p>Tiempo 1hora y 30 minutos</p>
            </div>
        </div>

        <div class="card m-3 ml-4 text-center" style="width: 18rem;">
            <img src="../../assets/images/lego.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Lego</h3>
                <p>Tiempo 1hora y 30 minutos</p>
            </div>
        </div>

    </div>


</div>