/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@media (min-width: 1500px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 900px) {
    .mobile {
        display: initial !important;
    }

    .desktop {
        display: none !important;
    }
}
